
<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
<div class = "lists">
  <div class="tasklist">
    <button (click) ="archive()" class="archive">Archive</button>
    <h3> To Do Items</h3>
    <ng-container  *ngFor="let task of tasks" >
      <div class = "task">
        <div *ngIf="task.completed === false" (click)="toggleCompleted(task)"  class="dot"></div>
        <div *ngIf="task.completed === true" (click)="toggleCompleted(task)"  class="fulldot"></div>
        <input class = "text" (keyup.enter) = "addItem()" [(ngModel)]="task.name"/>
        <button (click)="removeItem(task)" class = "remove">╳</button>
      </div>
    </ng-container>


    <div>
      <div class="dot"></div>
      <input id="task-input" (keyup.enter) = "addItem()" [(ngModel)]="taskname" placeholder="add new task..."/>
   </div>


  </div>

  <div class = "completed">
    <h3>Completed Items</h3>
    <ul>
      <ng-container *ngFor="let taskc of completedItems">
      <li class = "task">

        {{taskc.name}}

        <button (click)="removeCompleteItem(taskc)" class = "remove">X</button>
      </li>
      </ng-container>
    </ul>
</div>
</div>

</ng-container>



<ng-template #loggedOut>
  <div class="login">
  Welcome,<br>Please Log In
</div>
</ng-template>
