.lists {
  display: flex;
  flex-direction: row;
  padding: 50px;
  justify-content: space-around;
  height: 75%;
  align-items: flex-start;
  animation: fadein 3s ease;
}

.tasklist {
  width: 40%;
  background-color: cornflowerblue;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.task {
  width: 100%;
  margin-bottom: 20px;
}

.remove {
  display: none;
  background-color: #ee645a;
  color: black;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 10px;
  text-align: center;
  width: 15px;
  height: 15px;
  border-radius: 7px;
  margin-left: 5px;
  padding: 0px;
  border: 1px solid #ee645a;
  align-items: center;
}

.task:hover > .remove {
  display: inline;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  border: solid 2px black;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.fulldot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  background-color: black;
}

.text {
  vertical-align: middle;
  width: 85%;
  border-bottom: 1px solid white;
  font-size: 15px;
}

.text:hover {
  border-bottom: 2px solid white;
}

.text::before {
  border-bottom: 2px solid;
  visibility: hidden;
}

.completed {
  background-color: #699855;
  border-radius: 5px;
  width: 40%;
  padding: 10px;
  height: 100%;
}

h3 {
  text-align: center;
}

input {
  border: 0;
  background-color: cornflowerblue;
  color: white;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

#task-input {
  font-size: 15px;
  width: 85%;
  border-bottom: 1px solid white;
}

.archive {
  background-color: cornflowerblue;
  border: 1px solid white;
  color: white;
  position: absolute;
  right: 20px;
  font-size: 15px;
  padding: 5px;
}

.archive:hover {
  border: 1px solid black;
  color: black;
}

.login {
  margin-top: 100px;
  text-align: center;
  font-size: 100px;
  animation: fadein 3s ease;
  line-height: 175%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// .task:nth-of-type(3) > .text {
//   color: red;
// }
